.buttons-cart {
  button {
    @apply p-6 px-8 rounded-full bg-[#e5e5e5] opacity-50 mt-2;
  }
  .paypal-btn {
    padding-left: 6rem;
    img {
      width: 4rem;
    }
  }
}
.container {
  img {
    max-width: 7rem;
  }
  h2, p {
    color: rgb(117, 117, 117);
  }
  button {
    font-size: 1.2rem;
  }
}